name: build-all-template-cluster-image
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - "scripts/build-cluster-image.sh"
      - ".github/workflows/build-all-template-cluster-image.yaml"
jobs:
  gen-targets:
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.get-targets.outputs.targets }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get all template files
        id: get-targets
        run: |
          files=$(find template/ -name "*.yaml" -type f | jq -R . | jq -s -c .)
          echo "targets=$files" >> "$GITHUB_OUTPUT"
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs: gen-targets
    strategy:
      matrix:
        target: ${{ fromJSON(needs.gen-targets.outputs.targets) }}
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up sealos
        run: |
          curl -sfL https://raw.githubusercontent.com/labring/sealos/main/scripts/install.sh | sh -s v5.1.0 labring/sealos
      - name: Login to ghcr.io
        run: |
          sudo sealos logout docker.io || true
          sudo sealos login -u ${{ github.repository_owner }} -p ${{ secrets.GITHUB_TOKEN }} ghcr.io
      - name: Build cluster image
        run: |
          if [[ $(basename ${{ matrix.target }}) == "index.yaml" ]]; then
            template_name=$(basename $(dirname ${{ matrix.target }}))
          else
            template_name=$(basename ${{ matrix.target }} .yaml)
          fi
          sudo bash scripts/build-cluster-image.sh ${{ matrix.target }} ghcr.io/${{ github.repository }}/sealos-cloud-template-$template_name:latest
      - name: Push and save cluster image
        run: |
          if [[ $(basename ${{ matrix.target }}) == "index.yaml" ]]; then
            template_name=$(basename $(dirname ${{ matrix.target }}))
          else
            template_name=$(basename ${{ matrix.target }} .yaml)
          fi
          sudo sealos push ghcr.io/${{ github.repository }}/sealos-cloud-template-$template_name:latest
          sudo sealos save ghcr.io/${{ github.repository }}/sealos-cloud-template-$template_name:latest -o $template_name.tar
      - name: Upload cluster image tar
        if: github.repository_owner == 'labring-actions'
        run: |
          sudo -v ; curl https://gosspublic.alicdn.com/ossutil/install.sh | sudo bash
          if [[ $(basename ${{ matrix.target }}) == "index.yaml" ]]; then
            template_name=$(basename $(dirname ${{ matrix.target }}))
          else
            template_name=$(basename ${{ matrix.target }} .yaml)
          fi
          ossutil64 cp -f -e ${{ secrets.OSS_ENDPOINT }} \
            -i ${{ secrets.OSS_ACCESS_KEY_ID }} \
            -k ${{ secrets.OSS_ACCESS_KEY_SECRET }} \
            $template_name.tar \
            oss://${{ secrets.OSS_BUCKET }}/cloud/template/$template_name.tar
