## Automatically sync to Gitee after each commit through Github action
name: sync2gitee
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  repo-sync:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'labring-actions'
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          
      - uses: wearerequired/git-mirror-action@master
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_PRIVATE_KEY }}
        with:
          source-repo: "git@github.com:labring-actions/templates.git"
          destination-repo: "git@gitee.com:labring/templates.git"